<div class="account-cont">
    <button class="get-users" (click)="getUsers()">Get users</button>
    <!-- <img class="logo" src="./assets/img/logo.png"> -->


    <div  class="logo-img-cont-always">
        <img src="./assets/img/logo-intro.png">
        <div class="title">DABubble</div>
    </div>
    
   <button (click)="saveCurrentUser()" style="position: absolute; right: 30px; top: 30px; cursor: pointer; border: 2px red solid;"
     [routerLink]="'/create-profile'" >Weiter zu Profile</button>


    <mat-card>
        <mat-card-header>
            <mat-card-title>Konto erstellen</mat-card-title>
            <mat-card-subtitle>Mit deinem Namen und deiner E-mail-Adresse hast <br> du dein neues
                DABubble-Konto.</mat-card-subtitle>
        </mat-card-header>


        <form (ngSubmit)="saveUser(accountForm)" #accountForm='ngForm'>
            <div class="name-cont">
                <input [(ngModel)]="user.name" (ngModelChange)="checkUserName()" type="text" name="name"
                    placeholder="Name und Nachname" autocomplete="on">
                <img src="./assets/img/person.png">
            </div>

            <div class="email-cont">
                <input [(ngModel)]="user.email" (ngModelChange)="checkUserEmail()" type="email" name="email"
                    placeholder="E-mail" autocomplete="on">
                <div style="display: none;" [class.warning]="isEmailExist">Existiert bereits!</div>
                <img src="./assets/img/mail.png">
            </div>

            <div class="password-cont">
                <input [(ngModel)]="user.password" (ngModelChange)="checkUserPassword()" type="password" name="password"
                    placeholder="Password" autocomplete="on">
                <div style="display: none;" [class.warning]="isPasswordExist">Existiert bereits!</div>
                <img src="./assets/img/lock.png">
            </div>

            <button [routerLink]="'/create-profile'" [class.button-active]="!isValidName && !isValidEmail && !isValidPassword"
                [disabled]="isValidName || isValidEmail || isValidPassword || !isChecked"
                [class.button-disabled]="isValidName || isValidEmail || isValidPassword || !isChecked"
                type="submit">Weiter</button>
        </form>


        <mat-checkbox class="custom-checkbox" [color]="task.color" [(ngModel)]="isChecked">

            <label>Ich stimme der</label><a href="#"> Datenschuterklärung </a><label>zu.</label>
        </mat-checkbox>

        <mat-card-actions>
            <button (click)="checkIntro()" [routerLink]="'/'" mat-button>
                <mat-icon>arrow_back</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>





</div>